<div class="container">
  <div class="row row-cols-3">
    <div class="col" *ngFor="let specie of species">
      <div class="card shadow-sm film-card">
        <img [src]="specie.image" class="card-img-top film-image" alt="Film Poster">
        <div class="card-body">
          <h5 class="card-title">{{ specie.name }}</h5>
          <p class="card-text"><strong>Classification:</strong> {{ specie.classification }}</p>
          <p class="card-text"><strong>Designation:</strong> {{ specie.designation }}</p>
          <p class="card-text"><strong>Average Height:</strong> {{ specie.average_height }} meters</p>
          <p class="card-text"><strong>Skin Colors:</strong> {{ specie.skin_colors }} </p>
          <p class="card-text"><strong>Hair Colors:</strong> {{ specie.hair_colors }}</p>
          <p class="card-text"><strong>Eye Colors:</strong> {{ specie.eye_colors }} </p>
          <button class="btn btn-dark" (click)="toggleHomeworld(specie)">
            {{ specie.showHomeworld ? 'Hide Homeworld Name' : 'Show Homeworld Name' }}
          </button>
          <ng-container *ngIf="specie.showHomeworld && specie.homeworldData">
            <p> {{ specie.homeworldData.name }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
